/* findbyID.css -> findID.html */

/* Styling for the body section */
body {
  font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
  background-color: #f2f2f2;
  margin: 50px 250px;
  padding: 20px;
}

/* Styling for the title */
.title {
  text-align: center;
  font-weight: bold;
  color: rgb(21, 117, 162);
  padding: 20px;
}

/* Styling for div elements */
div {
  margin-bottom: 10px;
}

/* Styling for the user input section */
.user_input {
  text-align: center;
  border-radius: 10px;
  align-items: center;
}

/* Styling for the user find input */
#user_find_input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

/* Styling for the go back link */
.go_back {
  box-shadow: 0 8px 16px 0 rgba(171, 222, 245, 0.2), 0 6px 20px 0 rgba(171, 222, 245, 0.2);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px; 
  text-decoration: none;
  background-color: rgb(100, 169, 201);
  color: rgb(255, 255, 255);
  border-radius: 8px; 
  position: fixed;
  left: 40px; 
  top: 40px; 
}

/* Styling for the user input section */
.user_input {
  display: flex;
  margin-bottom: 10px;
}

/* Styling for the user chat input */
#user_chat_input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

/* Styling for the user send button */
#user_send_btn {
  text-align: center;
  justify-content: center;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  background-color: rgb(100, 169, 201);
  color: #fff;
  border: none;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}
