<!DOCTYPE html>
<html lang="en" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not a Face Image</title>
    <link href="updateAns.css" rel="stylesheet" />
</head>
<body>
    <!-- Heading -->
    <h2 class="title">Image upload failed</h2>
    
    <!-- Paragraph -->
    <p class="chat_bubble">The uploaded photo is not a face photo. Please upload a new one</p>
    
    <!-- Link -->
    <a class="go_back" href="javascript:history.back()"> Go Back </a>
</body>
</html>
